/* NAVBAR */
@media (max-width:1200px){
    .nav-zero , .navbar-link , .navbar-right {
        display: none;
    }
    .nav-rightmedia{
        display: flex; 
        margin: 0 20px;
    }
    .logo{
        margin: 0 20px;
    }
    .nav-rightmedia i{
        padding: 13px;
        font-size: 20px;
    }
    
}

/* CONTENT */

@media (max-width:785px){
    .image-one{
        padding: 0 20px;
        text-align: left;
    }
    .imageone img{
        display: none;
    }
    .imagtwo img{
        display: block;
        padding: 0 0 20px 0;
        max-width: 100%;
        margin: auto;
    }
    .image-one h1{
        margin: 8px 0 18px 0;
    }

    .trending{
        padding: 0 20px; 
    }
    .img3{
        flex-direction: column;
    }
    .img3 img{
        width: 90vw;
    }  
    .img3-1,.img3-2{
        display: flex;
        justify-content: center;
        padding: 5px 0 5px 0;
    }
    .img3-text,.img3-5-text{
        bottom: 20px;
        left: 30px;
    }
    .img3 p{
        font-size: 20px;
    }
    .img3-1,.img3-2{
        margin: 0%;
    }
    

}

@media (max-width:1200px){
    
    .slide{
        padding: 0 20px;
    }
    .shoe-slide{
        display: grid;
        gap: 20px;
        padding: 0 0 20px 20px;
        
        grid-template-columns: 60vw 60vw 60vw 60vw 60vw 60vw;
    }
    .product img{
        width: 60vw;
    }
    .product p{
        font-size: 15px;
    }
    
}
@media (max-width:900px){
    .footer,.sub-footer{
        padding: 20px 20px 0 20px;
    }
    .footer,.sub-footer,.sub-footer-left{
        display: block;
    }
    .two2,.three3{
        display: none;
    }
    .footer-left ul li{
        width: 80vw;
    }
    .copyright{
        display: flex;
    }
    .copyright,i, h5{
        padding: 10px 0;
        margin: 0%;
    }
    .sub-footer-right ul{
        display: block;
        
    }
    .sub-footer-right ul li{
        padding: 15px 10px;
        margin: 0%;
    }
    .img3-text,.img3-5-text{
        left: 5vw;
    }
}
                 
